[Desktop Entry]
Name=Nuah
Comment=High performance Roblox native client runtime
Exec=AppRun %u
Icon=nuah
Type=Application
Categories=Game;
MimeType=x-scheme-handler/roblox;x-scheme-handler/roblox-player;
Terminal=false
StartupWMClass=nuah
